*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
img{
    width: 100%;
}
.text--print{
    text-transform: uppercase;
}

ul{
    list-style: none;
}

.suntech_menu{
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0px 30px;
    align-items: center;
    
}
.menu_logo{
    color:#3cb878;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 20px;
}
.menu_list{
    display: flex;
    text-decoration: none;
    margin-bottom: 0px;
a{
    padding: 0px 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #3f4853 !important;
&:hover{
    color: #3cb878 !important;
}
}

}

.menu_icon{
    display: flex;
    margin-bottom: 0px;
    a{
        padding: 0px 10px;
        position: relative;
        width: 14px !important;

    p{
        position: absolute;
        background-color: #3cb878;
        color: white;
        height: 15px;
        width: 15px;
        display: flex;
        font-size: 10px;
        margin-bottom: 0px;
        text-align: center;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        top: -2px;
        right: 0px;
        opacity: 0;
    }

    }

}
.cart-a:hover p{
    opacity: 1;
}

a{
    text-decoration: none!important;
    color: black!important;
}
.suntech_hearder{

.hearder_img{
    position: relative;
    
}
h2{
    position: absolute;
    top:270px;
    left: 130px;
    font-weight: 700;
    color: #333333;
    font-size: 40px;
    letter-spacing:2px;
    text-transform: uppercase;
.text--gren{
    color: #3cb878;
   
}

}
}
.conten_list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    
.list_img{
    width: 400px;
    margin: 0 10px;
&:hover .list_icon{
    display: block;
}
.text--black{
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 16px;
}
.text--green{
    color: #3cb878;
    margin: 0px;
    margin-top: 10px;
    font-size: 14px;
}

}
.list--aline{


h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
} 
h5{
    font-style:italic;
    font-weight: 500;
    color: #3cb878;
    font-size: 12px;
}
p{
    font-weight: 500;
    font-size: 12px;
}
}
.img{
    position: relative;
}
.list_icon{
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}
}
.suntech_StaticBlock{
    background-color: #f5f6f9;
    text-align: center;
    padding: 30px 0px;
h4{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 20px;
}
p{
    font-weight: 600;
    color: #888888;
    margin-bottom: 0px;
    margin-top: 10px;
}
}
.suntech_Categories{
    text-align: center;
    background-color: #34394f;
}
.suntech_products{
    padding: 50px 0px;
.text_style{
h4{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
}
p{
    text-align: center;
    font-style:italic;
    font-weight: 400;
    color: #3cb878;
}
}
}
.suntech_sibar{
  
.col_subscribe{
    background: url(../Image/Subscribe/slide5.jpg);
   color: white;
   text-align: center;
   padding: 50px 0px;
.text_top{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0px;
}
.text_boton{
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 12px;
}

}
.form{
   
.input{
    width: 340px;
    height: 35px;
    padding-left: 15px;
    border: 0px;
}
.button{
    height: 35px;
    background-color: #3cb878;
    color: white;
    border: 0px;
    padding: 0px 20px;
    text-transform: uppercase;
    font-size: 14px;
}
}
.col_clients{
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: #f5f6f9;
.col{
    padding: 0px 40px;
}
}
}
.suntech_footer{
    background-color: black;
    color: rgb(104, 99, 99);
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 10px;
    
    
   
.col-icon{
    display: flex;
    align-items: center;
    margin-left: 300px;
li{
    margin:0px 10px;
}
}
}
