* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  /* 62.5% = 10px */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
}

.text--print {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.list--aline {
  width: 25%;
}

.container___main {
  width: 75%;
}

.main_center {
  max-width: 100%;
}

.suntech_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  padding: 0px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_none {
  display: none;
}

.menu_logo {
  color: #3cb878;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 20px;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  margin-bottom: 0px;
}
.menu_list a {
  padding: 0px 15px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  color: #3f4853 !important;
}
.menu_list a:hover {
  color: #3cb878 !important;
}

.btl_close {
  display: none;
}

.menu_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
}
.menu_icon a {
  padding: 0px 10px;
  position: relative;
  width: 14px !important;
}
.menu_icon a p {
  position: absolute;
  background-color: #3cb878;
  color: white;
  height: 15px;
  width: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  margin-bottom: 0px;
  text-align: center;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -2px;
  right: 0px;
  opacity: 0;
}

.cart-a:hover p {
  opacity: 1;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.suntech_hearder .hearder_img {
  position: relative;
}
.suntech_hearder h2 {
  position: absolute;
  top: 270px;
  left: 130px;
  font-weight: 700;
  color: #333333;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.suntech_hearder h2 .text--gren {
  color: #3cb878;
}

.conten_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 5px;
}
.conten_list .list_img:hover .list_icon {
  display: block;
}
.conten_list .list_img .text--black {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 16px;
}
.conten_list .list_img .text--green {
  color: #3cb878;
  margin: 0px;
  margin-top: 10px;
  font-size: 14px;
}
.conten_list h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
}
.conten_list h5 {
  font-style: italic;
  font-weight: 500;
  color: #3cb878;
  font-size: 12px;
}
.conten_list p {
  font-weight: 500;
  font-size: 12px;
}

.img {
  position: relative;
}

.list_icon {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

.suntech_StaticBlock {
  background-color: #f5f6f9;
  text-align: center;
  padding: 30px 0px;
}
.suntech_StaticBlock h4 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 20px;
}
.suntech_StaticBlock p {
  font-weight: 600;
  color: #888888;
  margin-bottom: 0px;
  margin-top: 10px;
}

.suntech_Categories {
  text-align: center;
  background-color: #34394f;
}

.suntech_products {
  padding: 50px 0px;
}
.suntech_products .text_style h4 {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}
.suntech_products .text_style p {
  text-align: center;
  font-style: italic;
  font-weight: 400;
  color: #3cb878;
}

.suntech_sibar .col_subscribe {
  background: url(../Image/Subscribe/slide5.jpg);
  color: white;
  text-align: center;
  padding: 50px 0px;
}
.suntech_sibar .col_subscribe .text_top {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0px;
}
.suntech_sibar .col_subscribe .text_boton {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 12px;
}
.suntech_sibar .form .input {
  width: 340px;
  height: 35px;
  padding-left: 15px;
  border: 0px;
}
.suntech_sibar .form .button {
  height: 35px;
  background-color: #3cb878;
  color: white;
  border: 0px;
  padding: 0px 20px;
  text-transform: uppercase;
  font-size: 14px;
}
.suntech_sibar .col_clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f5f6f9;
}
.suntech_sibar .col_clients .col {
  padding: 0px 40px;
}

.Products_list {
  padding: 10px 35px;
}

.item_img {
  margin: 0 8px;
}

.suntech_footer {
  background-color: black;
  color: rgb(104, 99, 99);
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 10px;
}
.suntech_footer .col-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.suntech_footer .col-icon li {
  margin: 0px 10px;
}

.item_img {
  width: calc(20% - 20px);
}

.block_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.menu_list--mobie {
  display: none;
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375rem) {
  .suntech_hearder h2 {
    top: 200px;
    left: 70px;
  }
  .suntech_menu {
    background-color: white;
  }
  .conten_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 50px 5px;
  }
  .main_center {
    max-width: 100%;
  }
  .list--aline {
    width: 35%;
  }
  .container___main {
    width: 75%;
  }
  .menu_none {
    display: block;
    position: absolute;
    right: 40px;
    padding: 2px 15px;
    border: 1px solid #0d0d0d;
    font-size: 13px;
    border-radius: 5px;
  }
  .menu_icon {
    margin-right: 100px;
  }
  .btl_close {
    display: block;
    width: 25px;
    height: 25px;
    background-color: #0d0d0d;
    border-radius: 50%;
    border: 0px;
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 16px;
  }
  .menu_list--mobie {
    display: none;
    width: 220px;
    background-color: white;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    min-height: 100vh;
    max-height: 110vh;
    z-index: 100000;
    text-align: center;
    padding-top: 50px;
  }
  .menu_list--mobie li {
    padding: 20px 0px;
  }
  .item_img {
    width: calc(33.3333333333% - 20px);
  }
  .block_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .suntech_sibar .button {
    margin-top: 20px;
  }
  .suntech_footer {
    height: 90px;
  }
  .row-width {
    padding: 20px 0px;
  }
  .row-width img {
    height: 50px;
    width: 50px;
  }
  .menu_list {
    display: none;
  }
}
@media only screen and (max-width: 46.1875em) {
  .menu_none {
    display: block;
    position: absolute;
    right: 40px;
    padding: 2px 15px;
    border: 1px solid #0d0d0d;
    font-size: 13px;
    border-radius: 5px;
  }
  .menu_icon {
    margin-right: 100px;
  }
  .btl_close {
    display: block;
    width: 25px;
    height: 25px;
    background-color: #0d0d0d;
    border-radius: 50%;
    border: 0px;
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 16px;
  }
  .menu_list {
    display: none;
  }
  .menu_list--mobie {
    display: none;
    width: 220px;
    background-color: white;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    min-height: 100vh;
    max-height: 110vh;
    z-index: 100000;
    text-align: center;
    padding-top: 50px;
  }
  .menu_list--mobie li {
    padding: 20px 0px;
  }
  .suntech_hearder h2 {
    top: 150px;
    left: 40px;
    font-size: 20px;
  }
  .item_img {
    width: calc(50% - 20px);
  }
  .block_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .list--aline {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .suntech_bestseller {
    display: block;
  }
  .suntech_sibar .col_clients {
    padding: 40px 0px;
  }
}